[general]
name = "minilib-io"
version = "0.6.4"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/io/errno.fix",
    "lib/io/file_system.fix",
    "lib/io/path.fix",
    "lib/io/platform.fix",
    "lib/io/signal.fix",
]
objects = ["lib.o"]
preliminary_commands = [["make", "lib.o"]]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/io/errno_test.fix",
    "tests/io/file_system_test.fix",
    "tests/io/path_test.fix",
    "tests/io/platform_test.fix",
    "tests/io/signal_test.fix",
]

[[dependencies]]
name = "minilib-common"
version = "*"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-binary"
version = "*"
# path = "../fixlang-minilib-binary"
git = { url = "https://github.com/pt9999/fixlang-minilib-binary.git" }

[[dependencies]]
name = "time"
version = "*"
git = { url = "https://github.com/tttmmmyyyy/fixlang-time.git" }

[[dependencies]]
name = "hashmap"
version = "1.1.0"
git = { url = "https://github.com/tttmmmyyyy/fixlang-hashmap.git" }

# for file_system_test
[[dependencies]]
name = "asynctask"
version = "1.1.0"
git = { url = "https://github.com/tttmmmyyyy/fixlang-asynctask.git" }
